//
//  Secrets.xcconfig
//  WMovie
//
//  Created by Mohammad on 2025-06-07.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0OWNiYjdjMTZmZjRjZjM0NTRjZmI0MzQxYzgxNWU1YSIsIm5iZiI6MTc0NzM4OTg4MC43ODIsInN1YiI6IjY4MjcwZGI4ZjYzYjJmMDEwODMxNWU2OCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Iihyx9z1K_INnubItaDvAhjwCD0gVgpBdrrMx4fGUv0
